<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ConnectionProvider" type="CSoft.Data.ConnectionConfigurationSection, CSoft.Configuration" />
    <section name="EmailProvider" type="CSoft.Web.Portal.Mailing.EmailConfigurationSection, CSoft.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="HangfireConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Hangfire;Data Source=.\sqlexpress" providerName="System.Data.SqlClient" />
    <add name="Cn" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ExceptionIcon;Data Source=.\sqlexpress" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Connection provider -->
  <ConnectionProvider default="fre24">
    <providers>
      <add name="fre24" type="CSoft.Data.SqlDatabase, CSoft.Data" connectionStringName="Cn" />
    </providers>
  </ConnectionProvider>
  <!-- Email provider -->
  <EmailProvider default="MailServer">
    <providers>
      <add name="MailServer" type="CSoft.Web.Portal.Mailing.MailSender, CSoft.Web.Controls" EnabledSent="true" From="pfernandes@fresoft.pt" MailServer="mail.fredesenvolv.pt:25" UserName="pfernandes@fresoft.pt" Password="P@ssw0rd" />
    </providers>
  </EmailProvider>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
